/* Resets all CSS styles: even Heading and pre-defined tags styles */
*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 16px;
}

body{
    padding: 40px;
    font-family: Georgia,Times, serif;
    color: rgb(70, 65, 65);
}

h1,h2,h3,h4,h5,h6{
    margin: 10px 0;
    font-family: Helvetica,Arial, sans-serif;
    font-weight: bold;
}

h1{
    font-size: 3em; /* 3 times the base font size (which 16px in this case)*/
}
h2{
    font-size: 2em; /* 2 times the base font size (which 16px in this case)*/
}
h3{
    font-size: 2em; /* 1.5 times the base font size (which 16px in this case)*/
    letter-spacing: -2px; /* spacing between each letter: -ve for less space, +ve for more space*/
    word-spacing: 5px; /* spacing between each word: -ve for less space, +ve for more space*/
    text-align: center; /* Like we do in word docs: left, right, center, justify*/
}
blockquote{
    margin: 0 0 0 30px; /* Clockwise order: top right bottom left*/
    font-style: italic;
    text-indent: 70px; /* indents first-line of selected tag */
    line-height: 1.3; /* line height is how tall the height of line within the element */
}

span{
    text-decoration: line-through;
}
em{
    text-transform: capitalize; /* capitalizes first letter of each word */
}
strong{
    text-transform: uppercase;
    font-weight: bolder;
}
a{
    color: rgb(23, 177, 23);
    text-decoration: none;
}
code{
    display: block;
    background-color: rgb(17, 8, 8);
    color: chartreuse;
    margin-top: 5px;
    padding: 5px;
}
/* Borders */

.border-box{
    background: #dcd6d6d1;
    margin: 0 0 20px;
    padding: 20px;
    width: 300px;
}

#box-1{
    border: solid 1px black;
}
#box-2{
    border: dashed 1px black;
}

#box-3{
    border: dotted 1px black;
}
#box-4{
    border: double 3px black; /* for double border: min value is 3 (1-1 px for each border, 1px for space between them) */
}

#box-5{
    border: solid 4px rgb(21, 232, 91);
}
#box-6{
    border: dashed 4px rgb(21, 232, 91);
}

#box-7{
    border: dotted 4px rgb(21, 232, 91);
}
#box-8{
    border: double 9px rgb(21, 232, 91); /* for double border: min value is 3 (1-1 px for each border, 1px for space between them) */
}

/* Background Images*/

.background-example{
    height: 200px;
    width: 200px;
    border: solid 1px black;
    margin: 5px;
}

/* By default, Background images repeats x and y and are positioned top left */

#background-1{
    background-image: url(images/steak_background.jpg);
}
#background-2{
    /* background-color: bisque; */
    background-image: url(images/blue_background.jpg);
}
#background-3{
    background-image: url(images/steak_background.jpg);
    background-repeat: no-repeat; /* stops repeating */
    background-position: center center; /* x , y postion*/
}

#background-4{
    /* Using short-hand */
    background: url(images/skull_background.jpg) bottom left repeat-x;
}